{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!--====== Required meta tags ======-->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!--====== Title ======-->
  <title>Pocket Invest</title>

  <!--====== Title ======-->
  <title>Navbar | Ayro UI</title>

  <!--====== Favicon Icon ======-->
  <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/svg" />

  <!--====== Bootstrap css ======-->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

  <!--====== Line Icons css ======-->
  <link rel="stylesheet" href="{% static 'css/lineicons.css' %}" />


  <!--====== Style css ======-->
  <link rel="stylesheet" href="{% static 'scss/starter.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/sign-in-up/sign-in-up-01.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/cards/card-01.css'%}" />

  <link rel="stylesheet" href="{% static 'scss/navbars/navbar-01.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/headers/header-01.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/services/service-02.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/portfolios/portfolio-02.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/tabs-accordions/accordions.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/section-title/section-title-04.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/cards/card-02.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/cards/card-01.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/buttons/button-page.css' %}" />
  <link rel="stylesheet" href="{% static 'css/charts.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/section-title/section-title-07.css' %}" />
  <link rel="stylesheet" href="{% static 'scss/tabs-accordions/tabs.css' %}" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-3d.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/drilldown.js"></script>
</head>

<body>
  <!--====== NAVBAR ONE PART START ======-->

  <section class="navbar-area navbar-one">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="javascript:void(0)" style="width: 7%; height: 7%;">
              <img src="{% static 'images/logo-2.png' %}" alt="Logo" style="width: 80%; height: 80%;" />
            </a>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
              <ul class="navbar-nav m-auto">
                {% if signedIn and parentFlag %}
                <li class="nav-item" onclick="parentDashboardFunction('{{ user.user_name }}')">
                  <a href="javascript:void(0)">Dashboard</a>
                </li>
                <li class="nav-item" onclick="parentAddWithdrawMoney('{{ user.user_name }}')">
                  <a href="javascript:void(0)">Add/Withdraw Money</a>
                </li>
                <li class="nav-item">
                  <a href="javascript:void(0)">Profile</a>
                </li>
                {% elif signedIn and not parentFlag %}
                <li class="nav-item" onclick="childDashboardFunction('{{ user.user_name }}')">
                  <a href="javascript:void(0)">Dashboard</a>
                </li>
                <li class="nav-item" onclick="coursesFunction()">
                  <a href="javascript:void(0)">Courses</a>
                </li>
                <li class="nav-item" onclick="portfolioFunction('{{ user.user_name }}')">
                  <a href="javascript:void(0)">Portfolio</a>
                </li>
                <li class="nav-item" onclick="childMarketPlaceFunction('{{ user.user_name }}')">
                  <a href="javascript:void(0)">Market Place</a>
                </li>
                <li class="nav-item" onclick="profileFunction('{{ user.user_name }}')">
                  <a href="javascript:void(0)">Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a href="javascript:void(0)">About</a>
                </li>
                {% endif %}
              </ul>
            </div>
            <div class="navbar-btn d-none d-sm-inline-block">
              {% if signedIn %}
              <ul>
                <li onclick="setSignInFalse('{{signedIn}}')">
                  <a class="btn primary-btn-outline" href="">Logout</a>
                </li>
              </ul>
              {% else %}
              <ul>
                <li> 
                  <a class="btn primary-btn-outline" href="{% url 'sign-in' %}">Sign In</a>
                </li>
                <li>
                  <a class="btn primary-btn" href="{% url 'sign-up' %}">Sign Up</a>
                </li>
              </ul>
              {% endif %}
            </div>
          </nav>
          <!-- navbar -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>

  <!--====== NAVBAR ONE PART ENDS ======-->

  <!--====== HEADER ONE PART START ======-->

  {% if not signedIn %}
  <section class="header-area header-one">
    <div class="header-content-area" id="headerContentArea">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-12">
            <div class="header-wrapper">
              <div class="header-content">
                <h1 class="header-title">
                  It's Time to Teach your Kids about Money
                </h1>
                <p class="text-lg">
                  "Having discussions about money and how it’s made at the
                  dinner table is really, really important. The concept of
                  money saving and how the world works is something even a
                  child can grasp at an early age."<br />
                  <span style="font-size: 12px">- Kevin O'Leary (Shark Tank Investor & Chairman, O'Shares
                    ETFs)</span>
                </p>
                <div class="header-btn rounded-buttons">
                  <a class="btn primary-btn-outline btn-lg" href="{% url 'sign-up' %}">
                    SIGN UP
                  </a>
                </div>
              </div>
              <!-- header content -->
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="header-image d-none d-lg-block">
              <div class="image">
                <img src="{%static 'images/header/header-1.svg' %}" alt="Header" />
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
      <div class="header-shape">
        <img src="{% static 'images/header/header-shape.svg' %}" alt="shape" />
      </div>
      <!-- header-shape -->
    </div>
    <!-- header content area -->
  </section>
  {% endif %}
  <!--====== HEADER ONE PART ENDS ======-->
  {% if signedIn and parentFlag %}
  <div id="parentDashboard"></div>
  {% elif signedIn and not parentFlag %}
  <div id="childDashboard"></div>
  <div id="parentaddmoney"></div>
  <div id="courses"></div>
  <div id="profile"></div>
  <div id="marketPlace"></div>
  <div id="modules"></div>
  {% endif %}

  <!--====== Bootstrap js ======-->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <script>
    //===== close navbar-collapse when a  clicked
    let navbarTogglerOne = document.querySelector(
      ".navbar-one .navbar-toggler"
    );
    navbarTogglerOne.addEventListener("click", function () {
      navbarTogglerOne.classList.toggle("active");
    });
  </script>
</body>

<script>
  $(document).ready(function () {
    childDashboardFunction('{{ user.user_name }}');
    parentDashboardFunction('{{ user.user_name }}');
  });

  function childDashboardFunction(username) {
    $.ajax({
      method: "POST",
      url: "/child-dashboard/",
      data: {
        "username": username,
      },
      success: function (response) {
        $("#marketPlace").hide();
        $("#courses").hide();
        $("#childDashboard").show();
        $("#childDashboard").html("")
        $("#childDashboard").append(response)
      }
    })
  }

  function parentAddWithdrawMoney(username) {
    $.ajax({
      method: "POST",
      url: "/parent-add-money/",
      data: {
        "username": username,
      },
      success: function (response) {
        $("#parentDashboard").hide();
        $("#parentaddmoney").show();
        $("#parentaddmoney").html("")
        $("#parentaddmoney").append(response)
      },
    });
  }


  function parentDashboardFunction(username) {
    $.ajax({
      method: "POST",
      url: "/parent-dashboard/",
      data: {
        "username": username,
      },
      success: function (response) {
        $("#parentDashboard").show();
        $("#parentDashboard").html("")
        $("#parentDashboard").append(response)
      }
    })
  }


  function childMarketPlaceFunction(username) {
    $.ajax({
      method: "POST",
      url: "/market-place/",
      data: {
        "username": username
      },
      success: function (response) {
        $("#childDashboard").hide();
        $("#courses").hide();
        $("#profile").hide();
        $("#marketPlace").show();
        $("#marketPlace").html("")
        $("#marketPlace").append(response)
      }
    })
  }

  function coursesFunction(username) {
    $.ajax({
      method: "POST",
      url: "/courses/",
      data: { "username": username },
      success: function (response) {
        $("#childDashboard").hide();
        $("#marketPlace").hide();
        $("#profile").hide();
        $("#portfolio").hide();
        $("#courses").show();
        $("#courses").html("");
        $("#courses").append(response);
      },
    });
  }

  function profileFunction(user) {
    console.log("This is the user", user);
    $.ajax({
      method: "POST",
      url: "/profile/",
      data: {
        user: user,
      },
      success: function (response) {
        $("#childDashboard").hide();
        $("#marketPlace").hide();
        $("#courses").hide();
        $("#portfolio").hide();
        $("#profile").show();
        $("#profile").html("");
        $("#profile").append(response);
      },
    });
  }

  function setSignInFalse(signedIn) {
    signedIn = false;
    console.log("Current signed in value is ", signedIn);
    $.ajax({
      method: "POST",
      url: "/profile/",
      data: {
        signedIn: signedIn,
      },
      success: function (response) {
        console.log(
          "this is the response returned from ajax call ",
          response
        );
      },
    });
  }


  function portfolioFunction(username) {
    $.ajax({
      method: "POST",
      url: "/portfolio/",
      data: {
        "username": username
      },
      success: function (response) {
        $("#childDashboard").hide();
        $("#courses").hide();
        $("#marketPlace").hide();
        $("#portfolio").show();
        $("#portfolio").html("");
        $("#portfolio").append(response);
      },
    });
  }
</script>

</html>