{% load static %}
<section class="">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="section-title-four" style="margin-top: 3%;">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <span> Dashboard </span>
                                    <h2 class="fw-bold">Hi {{ user.first_name }}!</h2>
                                    <h3 class="gray-bg">Dashboard</h3>
                                    <p>
                                        All the information you need about your child's money habits!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- container -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div style="float:left col-6">
                        <figure class="highcharts-figure">
                            <div id="expense-chart"></div>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div>
                        <figure class="highcharts-figure">
                            <div id="bar-courses"></div>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div style="float: left col-6">
                        <figure class="highcharts-figure">
                            <div id="pie-chart"></div>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div>
                        <figure class="highcharts-figure">
                            <div id="line-chart"></div>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="col-12">
                        <div class="tabs mt-5">
                          <h4 class="tabs-title mb-30" style="font-size: 30px; text-align: center;">Children Expenditure Details</h4>
                          <div class="single-tabs tabs-two">
                            <ul class="nav nav-justified" id="myTab" role="tablist">
                              <li class="nav-item">
                                <a class="active" id="tab-two-one-tab" data-bs-toggle="tab" href="#tab-two-one" role="tab"
                                  aria-controls="tab-two-one" aria-selected="true">TAB 01</a>
                              </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="tab-two-one" role="tabpanel"
                                aria-labelledby="tab-two-one-tab">
                                <div class="tab-text">
                                    <table class="table table-hover">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Transaction Details</th>
                                            <th scope="col">Transaction Value</th>
                                            <th scope="col">Receiver</th>
                                            <th scope="col">Decision Outcome</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for trans in transactions %}
                                          <tr>
                                            <th scope="row">{{ trans.id }}</th>
                                            <td>{{ trans.date }}</td>
                                            <td>{{ trans.details }}</td>
                                            <td>{{ trans.amount }}</td>
                                            <td>{{ trans.receiver }}</td>
                                            <td>{{ trans.outcome }}</td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- tabs one -->
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    </div>
    <!-- header content area -->
</section>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>