{% load static %}
<section class="">
    <div class="">
        <div class="container">
            <div class="row">
                <div>
                    <!-- <h1>Hi Steve!!!!!</h1> -->
                </div>
                <div style="float: left col-6">
                    <figure class="highcharts-figure">
                        <div id="pie-chart"></div>
                    </figure>
                </div>
                <div style="float:left col-6">
                    <figure class="highcharts-figure">
                        <div id="expense-chart"></div>
                    </figure>
                </div>
                <div>
                    <figure class="highcharts-figure">
                        <div id="bar-courses"></div>
                    </figure>
                </div>
                <div>
                    <figure class="highcharts-figure">
                        <div id="line-chart"></div>
                    </figure>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- header content area -->
</section>
<script type="text/javascript" src="{% static 'js/charts.js' %}"></script>