{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>Sign In and Sign Up | Ayro UI</title>

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.svg' %}"
      type="image/svg"
    />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{% static 'css/lineicons.css' %}" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'scss/starter.css' %}" />

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{% static 'css/slider.css' %}" />

    <link
      rel="stylesheet"
      href="{% static 'scss/sign-in-up/sign-in-up-01.css' %}"
    />
  </head>

  <body>
    <!--====== SIGNIN ONE PART START ======-->

    <section class="signin-area signin-one">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <form method="POST" action="{% url 'Profile' %}">
              {% csrf_token %}
              <div class="signin-form form-style-two rounded-buttons">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-input">
                      <label> Enter your parent's username </label>
                      <div class="input-items default">
                        <input
                          type="text"
                          placeholder="Parent's Username"
                          id="username"
                          name="username"
                          required
                        />
                        <i class="lni lni-user"></i>
                      </div>
                    </div>
                    <!-- form input -->
                  </div>
                  <div class="col-md-12">
                    <div class="form-input">
                      <label> Enter your access code </label>
                      <div class="input-items default">
                        <input
                          type="text"
                          placeholder="Access Code"
                          id="access_code"
                          name="access_code"
                          required
                        />
                        <i class="lni lni-user"></i>
                      </div>
                    </div>
                    <!-- form input -->
                  </div>
                  <input
                    type="hidden"
                    id="hiddencurrentuser"
                    name="hiddencurrentuser"
                    value="{{currentusername}}"
                  />
                  <div class="col-md-12">
                    <div class="form-input rounded-buttons">
                      <button
                        class="btn primary-btn-outline rounded-full"
                        type="submit"
                        name="submit-access-code"
                      >
                        Submit
                      </button>
                    </div>
                    <!-- form input -->
                  </div>
                </div>
              </div>
              <!-- signin form -->
            </form>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!--====== SIGNIN ONE PART ENDS ======-->
  </body>
</html>
